* {
  margin: 0;
  padding: 0;
}

p,
label,
details,
button,
input,
textarea {
  font-family: verdana, sans-serif;
  color: #414141;
}

details,
.details {

}

summary,
.summary {
  font-size: 1.5em;
  cursor: pointer;
}

.content {
  width: 960px;
  margin: 40px auto;
}

details {
  margin: 40px auto;
}
textarea:focus,
input:focus,
button:focus {
  outline: 1px dotted red;
}

/*summary:focus {
  outline:1px dotted black;
}*/

/*.contentDet {
  text-align: center;
}*/

/*

tag, t.ex. 'p':    0 0 1
klass, t.ex. .foo: 0 1 0
id, t.ex. #bar =   1 0 0

*/

input,
textarea {
  border: 1px solid #888;
  min-width: 190px;
  font-size: 1em;
  display: block;
  padding: 5px;
}

input{
  min-height: 20px;
  margin: 2px;
}

textarea {
  resize: none;
  min-height: 100px;
  overflow:auto;
}

button {
  width: 200px;
  height: 30px;
  border-radius: 5px;
  border: 2px solid #414141;
  cursor: pointer;
  background-color: #fff;
  font-size: 0.9em;
  margin-top: 10px;
}

.summary{
  font-size: 1em;
  border: none;
  display: block;
}
